In [1]:
import org.apache.spark.sql.{DataFrame, Dataset, Row, SparkSession}
import org.apache.spark.sql.functions._
val spark = SparkSession.builder.master("local[*]").appName("dataProcessing").getOrCreate()
import spark.implicits._

spark = org.apache.spark.sql.SparkSession@7826fb62

org.apache.spark.sql.SparkSession@7826fb62

[964]
[2895]
[1277]
[1224]
[1127]
[730]
[938]
[2989]
[1175]
[1202]
[926]
[1217]
[965]
[1280]
[2857]
[3051]
[3081]
[847]
[1077]
[1336]
[831]
[1042]
[2878]
[736]
[2882]
[857]
[1241]
[2966]
[1338]
[932]
[1152]
[1157]
[823]
[1059]
[1050]
[2929]
[1041]
[1319]
[1329]
[1200]
[830]
[1199]
[734]
[2998]
[1110]
[1302]
[1210]
[1185]
[1119]
[902]
[706]
[737]
[828]
[1213]
[1025]
[1219]
[1283]
[555]
[1073]
[1051]
[1089]
[1108]
[752]
[1233]
[958]
[662]
[516]
[894]
[1297]
[561]
[1252]
[990]
[1282]
[1269]
[966]
[700]
[2996]
[1099]
[1312]
[814]
[880]
[1299]
[948]
[1330]
[1048]
[1323]
[586]
[843]
[1149]
[1016]
[852]
[1246]
[820]
[1274]
[1012]
[1242]
[2968]
[883]
[1259]
[1150]
[968]
[744]
[959]
[933]
[1267]
[1307]
[346]
[1328]
[2898]
[577]
[1046]
[1236]
[1103]
[946]
[738]
[675]
[1116]
[509]
[1287]
[1334]
[1190]
[1196]
[977]
[817]
[1009]
[1121]
[2954]
[2935]
[907]
[88]
[671]
[866]
[1321]
[833]
[1206]
[1100]
[649]
[646]
[599]
[2883]
[1331]
[896]
[1118]
[539]
[1316]
[929]
[1218]
[1257]
[1132]
[1279]
[2850]
[1054]
[623]
[944]
[834]
[978]
[1232]
[1151]
[1284]
[816]
[1266]
[818]
[874]
[1278]
[1037]
[1087]
[806]
[521]
[3049]
[1045]
[784]
[975]
[911]
[1322]
[697]
[1239]
[2970]
[1112]
[111]
[815]
[1310]
[735]
[1228]
[2932]
[1231]
[3070]
[950]
[1237]
[1222]
[1251]
[673]
[1314]
[1295]
[1187]
[1172]
[1013]
[2973]
[993]
[1047]
[1332]
[3006]
[540]
[641]
[746]
[994]
[731]
[2964]
[1308]
[981]
[1244]
[1084]
[795]
[1155]
[1309]
[2949]
[995]
[940]
[3057]
[921]
[1264]
[1107]
[1271]
[1340]
[941]
[957]
[576]
[1227]
[1090]
[1265]
[905]
[655]
[1044]
[952]
[2952]
[879]
[826]
[855]
[942]
[1296]
[922]
[943]
[1289]
[512]
[658]
[1245]
[668]
[1225]
[1120]
[1096]
[1113]
[1327]
[910]
[1186]
[2965]
[1154]
[716]
[1291]
[591]
[1091]
[1125]
[1248]
[3020]
[1034]
[1339]
[801]
[1018]
[740]
[1167]
[622]
[774]
[1235]
[750]
[886]
[1179]
[1337]
[1161]
[1335]
[1031]
[1303]
[1063]
[2984]
[520]
[508]
[884]
[1306]
[1292]
[954]
[1198]
[1234]
[2938]
[1301]
[605]
[875]
[931]
[1194]
[2957]
[971]
[732]
[1081]
[1315]
[1027]
[2893]
[1097]
[634]
[2871]
[1182]
[729]
[1203]
[827]
[684]
[892]
[2873]
[1188]
[727]
[1088]
[1305]
[3022]
[604]
[810]
[842]
[1221]
[1095]
[1317]
[765]
[2917]
[1272]
[1275]
[1324]
[1173]
[1101]
[780]
[579]
[1020]
[1015]
[1300]
[1290]
[1156]
[607]
[1070]
[3008]
[1036]
[2863]
[670]
[1086]
[1014]
[1162]
[1123]
[3056]
[1318]
[935]
[1170]
[1304]
[1311]
[1197]
[1109]
[1223]
[583]
[809]
[2907]
[877]
[881]
[1298]
[1216]
[1226]
[620]
[2901]
[960]
[2948]
[1333]
[878]
[2950]
[1320]
[811]
[1220]
[723]
[1180]
[1276]
[1029]
[2976]
[1193]
[771]
[2933]
[1043]
[812]
[1229]
[1176]
[1285]
[3023]
[1215]
[616]
[1168]
[617]
[1181]
[799]
[1313]
[918]
[660]
[793]
[2988]
[1094]
[545]
[1026]
[1270]
[1293]
[1249]
[969]
[2981]
[1183]
[647]
[2967]
[1247]
[1106]
[1281]
[1294]
[887]
[1184]
[908]
[1049]
[1032]
[837]
[1165]
[1022]
[1039]
[2890]
[2861]
[835]
[2991]
[757]
[1288]
[949]
[2962]
[1159]
[1268]
[1286]
[1243]
[751]
[1033]
[758]
[1158]
[1325]
[1214]
[1092]
[3045]
[1326]

In [2]:
var df_stats = spark.read.json("data/stats_data.json")
df_stats.printSchema()

root
 |-- data: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- ast: long (nullable = true)
 |    |    |-- blk: long (nullable = true)
 |    |    |-- dreb: long (nullable = true)
 |    |    |-- fg3_pct: double (nullable = true)
 |    |    |-- fg3a: long (nullable = true)
 |    |    |-- fg3m: long (nullable = true)
 |    |    |-- fg_pct: double (nullable = true)
 |    |    |-- fga: long (nullable = true)
 |    |    |-- fgm: long (nullable = true)
 |    |    |-- ft_pct: double (nullable = true)
 |    |    |-- fta: long (nullable = true)
 |    |    |-- ftm: long (nullable = true)
 |    |    |-- game: struct (nullable = true)
 |    |    |    |-- date: string (nullable = true)
 |    |    |    |-- home_team_id: long (nullable = true)
 |    |    |    |-- home_team_score: long (nullable = true)
 |    |    |    |-- id: long (nullable = true)
 |    |    |    |-- period: long (nullable = true)
 |    |    |    |-- postseason: boolean (nullable = true)
 |    |    |    |-- season: long (nullable = true)
 |    |    |    |-- status: string (nullable = true)
 |    |    |    |-- time: string (nullable = true)
 |    |    |    |-- visitor_team_id: long (nullable = true)
 |    |    |    |-- visitor_team_score: long (nullable = true)
 |    |    |-- id: long (nullable = true)
 |    |    |-- min: string (nullable = true)
 |    |    |-- oreb: long (nullable = true)
 |    |    |-- pf: long (nullable = true)
 |    |    |-- player: struct (nullable = true)
 |    |    |    |-- first_name: string (nullable = true)
 |    |    |    |-- height_feet: long (nullable = true)
 |    |    |    |-- height_inches: long (nullable = true)
 |    |    |    |-- id: long (nullable = true)
 |    |    |    |-- last_name: string (nullable = true)
 |    |    |    |-- position: string (nullable = true)
 |    |    |    |-- team_id: long (nullable = true)
 |    |    |    |-- weight_pounds: long (nullable = true)
 |    |    |-- pts: long (nullable = true)
 |    |    |-- reb: long (nullable = true)
 |    |    |-- stl: long (nullable = true)
 |    |    |-- team: struct (nullable = true)
 |    |    |    |-- abbreviation: string (nullable = true)
 |    |    |    |-- city: string (nullable = true)
 |    |    |    |-- conference: string (nullable = true)
 |    |    |    |-- division: string (nullable = true)
 |    |    |    |-- full_name: string (nullable = true)
 |    |    |    |-- id: long (nullable = true)
 |    |    |    |-- name: string (nullable = true)
 |    |    |-- turnover: long (nullable = true)
 |-- meta: struct (nullable = true)
 |    |-- current_page: long (nullable = true)
 |    |-- next_page: long (nullable = true)
 |    |-- per_page: long (nullable = true)
 |    |-- total_count: long (nullable = true)
 |    |-- total_pages: long (nullable = true)

df_stats = [data: array<struct<ast:bigint,blk:bigint,dreb:bigint,fg3_pct:double,fg3a:bigint,fg3m:bigint,fg_pct:double,fga:bigint,fgm:bigint,ft_pct:double,fta:bigint,ftm:bigint,game:struct<date:string,home_team_id:bigint,home_team_score:bigint,id:bigint,period:bigint,postseason:boolean,season:bigint,status:string,time:string,visitor_team_id:bigint,visitor_team_score:bigint>,id:bigint,min:string,oreb:bigint,pf:bigint,player:struct<first_name:string,height_feet:bigint,height_inches:bigint,id:bigint,last_name:string,position:string,team_id:bigint,weight_pounds:bigint>,pts:bigint,reb:bigint,stl:bigint,team:struct<abbreviation:string,city:string,conference:string,division:string,full_name:string,id:bigint,name:string>,turnover:bigint>>, meta: struct<current_pag...

[data: array<struct<ast:bigint,blk:bigint,dreb:bigint,fg3_pct:double,fg3a:bigint,fg3m:bigint,fg_pct:double,fga:bigint,fgm:bigint,ft_pct:double,fta:bigint,ftm:bigint,game:struct<date:string,home_team_id:bigint,home_team_score:bigint,id:bigint,period:bigint,postseason:boolean,season:bigint,status:string,time:string,visitor_team_id:bigint,visitor_team_score:bigint>,id:bigint,min:string,oreb:bigint,pf:bigint,player:struct<first_name:string,height_feet:bigint,height_inches:bigint,id:bigint,last_name:string,position:string,team_id:bigint,weight_pounds:bigint>,pts:bigint,reb:bigint,stl:bigint,team:struct<abbreviation:string,city:string,conference:string,division:string,full_name:string,id:bigint,name:string>,turnover:bigint>>, meta: struct<current_pag...

In [3]:
val df = spark.read.json("data/players_data.json")
//Read the players JSON file
df.show()
df.printSchema()

+--------------------+--------------------+
|                data|                meta|
+--------------------+--------------------+
|[[Ike,,, 14, Anig...|[1, 2, 100, 3268,...|
|[[Ike,,, 14, Anig...|[1, 2, 100, 3268,...|
|[[Danny,,, 571, Y...|[2, 3, 100, 3268,...|
|[[Larry,,, 671, J...|[3, 4, 100, 3268,...|
|[[Alonzo,,, 771, ...|[4, 5, 100, 3268,...|
|[[Skeeter,,, 871,...|[5, 6, 100, 3268,...|
|[[Kevin,,, 971, G...|[6, 7, 100, 3268,...|
|[[Jason,,, 1071, ...|[7, 8, 100, 3268,...|
|[[Randell,,, 1171...|[8, 9, 100, 3268,...|
|[[Derrick,,, 1271...|[9, 10, 100, 3268...|
|[[Jason,,, 1372, ...|[10, 11, 100, 326...|
|[[Luke,,, 1472, W...|[11, 12, 100, 326...|
|[[Justin,,, 1572,...|[12, 13, 100, 326...|
|[[Robert,,, 1673,...|[13, 14, 100, 326...|
|[[Spencer,,, 1775...|[14, 15, 100, 326...|
|[[Derrick,,, 1875...|[15, 16, 100, 326...|
|[[Diamon,,, 1977,...|[16, 17, 100, 326...|
|[[Cory,,, 2083, J...|[17, 18, 100, 326...|
|[[Dakari,,, 2199,...|[18, 19, 100, 326...|
|[[Lionel,,, 2311,...|[19, 20, 100, 326...|
+--------------------+--------------------+
only showing top 20 rows

root
 |-- data: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- first_name: string (nullable = true)
 |    |    |-- height_feet: long (nullable = true)
 |    |    |-- height_inches: long (nullable = true)
 |    |    |-- id: long (nullable = true)
 |    |    |-- last_name: string (nullable = true)
 |    |    |-- position: string (nullable = true)
 |    |    |-- team: struct (nullable = true)
 |    |    |    |-- abbreviation: string (nullable = true)
 |    |    |    |-- city: string (nullable = true)
 |    |    |    |-- conference: string (nullable = true)
 |    |    |    |-- division: string (nullable = true)
 |    |    |    |-- full_name: string (nullable = true)
 |    |    |    |-- id: long (nullable = true)
 |    |    |    |-- name: string (nullable = true)
 |    |    |-- weight_pounds: long (nullable = true)
 |-- meta: struct (nullable = true)
 |    |-- current_page: long (nullable = true)
 |    |-- next_page: long (nullable = true)
 |    |-- per_page: long (nullable = true)
 |    |-- total_count: long (nullable = true)
 |    |-- total_pages: long (nullable = true)

df = [data: array<struct<first_name:string,height_feet:bigint,height_inches:bigint,id:bigint,last_name:string,position:string,team:struct<abbreviation:string,city:string,conference:string,division:string,full_name:string,id:bigint,name:string>,weight_pounds:bigint>>, meta: struct<current_page: bigint, next_page: bigint ... 3 more fields>]

[data: array<struct<first_name:string,height_feet:bigint,height_inches:bigint,id:bigint,last_name:string,position:string,team:struct<abbreviation:string,city:string,conference:string,division:string,full_name:string,id:bigint,name:string>,weight_pounds:bigint>>, meta: struct<current_page: bigint, next_page: bigint ... 3 more fields>]

In [4]:
var elem = df.select(explode($"data").as("data_flat"))
elem.show()

+--------------------+
|           data_flat|
+--------------------+
|[Ike,,, 14, Anigb...|
|[Ron,,, 25, Baker...|
|[Jabari,,, 47, Bi...|
|[MarShon,,, 67, B...|
|[Lorenzo,,, 71, B...|
|[Omri,,, 90, Cass...|
|[Alex, 6, 6, 1, A...|
|[Tyler,,, 119, Da...|
|[Keenan,,, 149, E...|
|[Marcin,,, 179, G...|
|[Andrew,,, 1593, ...|
|[Amir, 6, 9, 241,...|
|[George, 6, 6, 25...|
|[Zach,,, 281, Lof...|
|[Kosta, 7, 0, 263...|
|[James,,, 348, Nu...|
|[Billy,,, 382, Pr...|
|[Zhou,,, 384, Qi,...|
|[Zach,,, 388, Ran...|
|[Malachi,,, 392, ...|
+--------------------+
only showing top 20 rows

elem = [data_flat: struct<first_name: string, height_feet: bigint ... 6 more fields>]

[data_flat: struct<first_name: string, height_feet: bigint ... 6 more fields>]

In [5]:
// Flattening

var elem = df.select(explode($"data").as("data_flat"))
elem.show()
val players_id = elem.select("data_flat.id")
players_id.show()

+--------------------+
|           data_flat|
+--------------------+
|[Ike,,, 14, Anigb...|
|[Ron,,, 25, Baker...|
|[Jabari,,, 47, Bi...|
|[MarShon,,, 67, B...|
|[Lorenzo,,, 71, B...|
|[Omri,,, 90, Cass...|
|[Alex, 6, 6, 1, A...|
|[Tyler,,, 119, Da...|
|[Keenan,,, 149, E...|
|[Marcin,,, 179, G...|
|[Andrew,,, 1593, ...|
|[Amir, 6, 9, 241,...|
|[George, 6, 6, 25...|
|[Zach,,, 281, Lof...|
|[Kosta, 7, 0, 263...|
|[James,,, 348, Nu...|
|[Billy,,, 382, Pr...|
|[Zhou,,, 384, Qi,...|
|[Zach,,, 388, Ran...|
|[Malachi,,, 392, ...|
+--------------------+
only showing top 20 rows

+----+
|  id|
+----+
|  14|
|  25|
|  47|
|  67|
|  71|
|  90|
|   1|
| 119|
| 149|
| 179|
|1593|
| 241|
| 256|
| 281|
| 263|
| 348|
| 382|
| 384|
| 388|
| 392|
+----+
only showing top 20 rows

elem = [data_flat: struct<first_name: string, height_feet: bigint ... 6 more fields>]
players_id = [id: bigint]

[id: bigint]

In [6]:
elem.select(elem("data_flat.first_name"), elem("data_flat.last_name")).filter(elem("data_flat.id")===237).show()

+----------+---------+
|first_name|last_name|
+----------+---------+
|    LeBron|    James|
+----------+---------+

In [7]:
var flat_stats = df_stats.select(explode($"data").as("flat_stats"))
val stats_season = flat_stats.select("flat_stats.game.season")
val stats_player_id = flat_stats.select("flat_stats.player.id")
stats_player_id.show()

+---+
| id|
+---+
|415|
| 49|
| 91|
|210|
|161|
| 53|
|157|
| 24|
|235|
|174|
|299|
|309|
|263|
| 33|
|482|
| 48|
|267|
|465|
|207|
| 62|
+---+
only showing top 20 rows

flat_stats = [flat_stats: struct<ast: bigint, blk: bigint ... 21 more fields>]
stats_season = [season: bigint]
stats_player_id = [id: bigint]

[id: bigint]

In [8]:
flat_stats.printSchema()

root
 |-- flat_stats: struct (nullable = true)
 |    |-- ast: long (nullable = true)
 |    |-- blk: long (nullable = true)
 |    |-- dreb: long (nullable = true)
 |    |-- fg3_pct: double (nullable = true)
 |    |-- fg3a: long (nullable = true)
 |    |-- fg3m: long (nullable = true)
 |    |-- fg_pct: double (nullable = true)
 |    |-- fga: long (nullable = true)
 |    |-- fgm: long (nullable = true)
 |    |-- ft_pct: double (nullable = true)
 |    |-- fta: long (nullable = true)
 |    |-- ftm: long (nullable = true)
 |    |-- game: struct (nullable = true)
 |    |    |-- date: string (nullable = true)
 |    |    |-- home_team_id: long (nullable = true)
 |    |    |-- home_team_score: long (nullable = true)
 |    |    |-- id: long (nullable = true)
 |    |    |-- period: long (nullable = true)
 |    |    |-- postseason: boolean (nullable = true)
 |    |    |-- season: long (nullable = true)
 |    |    |-- status: string (nullable = true)
 |    |    |-- time: string (nullable = true)
 |    |    |-- visitor_team_id: long (nullable = true)
 |    |    |-- visitor_team_score: long (nullable = true)
 |    |-- id: long (nullable = true)
 |    |-- min: string (nullable = true)
 |    |-- oreb: long (nullable = true)
 |    |-- pf: long (nullable = true)
 |    |-- player: struct (nullable = true)
 |    |    |-- first_name: string (nullable = true)
 |    |    |-- height_feet: long (nullable = true)
 |    |    |-- height_inches: long (nullable = true)
 |    |    |-- id: long (nullable = true)
 |    |    |-- last_name: string (nullable = true)
 |    |    |-- position: string (nullable = true)
 |    |    |-- team_id: long (nullable = true)
 |    |    |-- weight_pounds: long (nullable = true)
 |    |-- pts: long (nullable = true)
 |    |-- reb: long (nullable = true)
 |    |-- stl: long (nullable = true)
 |    |-- team: struct (nullable = true)
 |    |    |-- abbreviation: string (nullable = true)
 |    |    |-- city: string (nullable = true)
 |    |    |-- conference: string (nullable = true)
 |    |    |-- division: string (nullable = true)
 |    |    |-- full_name: string (nullable = true)
 |    |    |-- id: long (nullable = true)
 |    |    |-- name: string (nullable = true)
 |    |-- turnover: long (nullable = true)

In [9]:
// val player_games = flat_stats.select($"flat_stats.team.id").filter($"flat_stats.player.id" === 237 && $"flat_stats.game.season" === 2018)
// val rows = player_games.rdd
// val player_teams = rows.map(x => (x, 1))
// val player_teams_reduced = player_teams.reduceByKey(_ + _).takeOrdered(1)(Ordering[Int].reverse.on(_._2))
// player_teams_reduced.foreach(println)

Syntax Error.:

In [29]:
def loopingFunction(row):
    return (row.id)

Unknown Error: <console>:1: error: ':' expected but ')' found.
def loopingFunction(row):
                       ^

In [32]:
var season = Array(2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010)
for(x <- season) {
    val player_distinct = flat_stats.select("flat_stats.player.id").filter($"flat_stats.game.season" === x).distinct().rdd
    //for(y <- player_distinct){
        //val player_games = flat_stats.select($"flat_stats.team.id").filter($"flat_stats.player.id" === 237 && $"flat_stats.game.season" === 2018)
        //println(y)
//         val rows = player_games.rdd
//         val player_teams = rows.map(x => (x, 1))
//         val player_teams_reduced = player_teams.reduceByKey(_ + _).takeOrdered(1)(Ordering[Int].reverse.on(_._2))
//         player_teams_reduced.foreach(println)
    //}

    
    
}
//     players = distinct(flat_stats.player.id, season == season)
//     for players

Unknown Error: <console>:42: error: not found: value loopingFunction
           val player_distinct = flat_stats.select("flat_stats.player.id").filter($"flat_stats.game.season" === x).distinct().rdd.map(loopingFunction)
                                                                                                                                      ^

In [28]:
val player_distinct = flat_stats.select("flat_stats.player.id").filter($"flat_stats.game.season" === 2018).distinct().rdd
player_distinct.getClass

player_distinct = MapPartitionsRDD[156] at rdd at <console>:38

class org.apache.spark.rdd.MapPartitionsRDD

In [11]:
var test = df_player.select(df_player("data.first_name")).filter(df_player.id === 4)
test.show()

//val pollingDF = df.select(df("precinct_name"), precinctColumn, votesColumn).filter(precinctColumn.isNotNull)

Unknown Error: lastException: Throwable = null
<console>:34: error: not found: value df_player
       var test = df_player.select(df_player("data.first_name")).filter(df_player.id === 4)
                  ^
<console>:34: error: not found: value df_player
       var test = df_player.select(df_player("data.first_name")).filter(df_player.id === 4)
                                   ^
<console>:34: error: not found: value df_player
       var test = df_player.select(df_player("data.first_name")).filter(df_player.id === 4)
                                                                        ^

In [12]:
val player_games = df_stats.filter($"df_stats.player.id" === 4 && $"df_stats.game.season" === 2017)

org.apache.spark.sql.AnalysisException: cannot resolve '`df_stats.player.id`' given input columns: [data, meta];;
'Filter (('df_stats.player.id = 4) && ('df_stats.game.season = 2017))
+- Relation[data#6,meta#7] json